/*@font-face { font-family: Clear-Sans; src: url('font/ClearSans-Regular.ttf'); }
*/

border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments

body
    background-color #565656
    font 12px Helvetica, Arial, sans-serif
    font-size: 1.4rem;
    font-weight: 400;

a
    color #FFFFFF

.box
    margin-top 5px
    border 1px solid #7E7E7E
    border-radius 3px
    padding 5px
